h1{
    width: 100%;
    position:center;
    text-align: center;
}

body {
    font-family:'Courier New', Courier, monospace;
    background-color:gray;
    color:greenyellow;
    text-align:center;
    background-image: url("backgroundspace.jpeg");
    cursor: url("cursor.png") 16 16, auto;
}


p, ul, ol {
    line-height: 2;
    text-align: left;
    max-width: 500px;
    margin: 0 auto 1em auto;
}

table {
    text-align: center;
    color: greenyellow;
    margin: 0 auto 10px auto;
    width: 50%;
}


ul, ol {
    padding-left: 100px;
}

th, td {
    border: 1px, solid, greenyellow;
}

a {
    color: blue;
}

a:hover {
    color: magenta;
    cursor: url("handcursor1.png") 16 16, auto;
}
